<!-- 
Title: Fire Alarm
Used In File(s): code\game\machinery\alarm.dm
-->
<div align='center'>
Текущий уровень опасности is - 
{{if data.seclevel == 'code green'}}
	<span class='good'>Зеленый</span>
{{else data.seclevel == 'code blue'}}
	<span style='color: rgb(40, 80, 255);font-weight: bold;'>Blue</span>
{{else data.seclevel == 'code red'}}
	<span class='bad'>Красный</span>
{{else data.seclevel == 'code delta'}}
	<span class='bad'>ДЕЛЬТА</span>
{{/if}}
<hr>
<h3>Состояние</h3>
	<table><tr>
	<td>{{:helper.link('Норма', '', {'status': 'reset'}, data.active ? null : 'selected')}}
	<td>{{:helper.link('Блокировка', '', {'status': 'alarm'}, data.active ? 'redButton' : null)}}
	</table>
	{{if !data.active}}
		<h3>Таймер</h3>
			<table>
				<tr>
					<td>{{:helper.link('Уст.', '', {'timer' : 'set'})}}
				{{if data.timing}}
					<td>{{:helper.link('Стоп', '', {'timer' : 'stop'})}}
				{{/if}}
				{{if !(data.timing)}}
					<td>{{:helper.link('Пуск', '', {'timer' : 'start'})}}
				{{/if}}
				</tr>
			</table>
		<br>
			{{if data.time > 0}}
				Времени осталось: {{:data.time}} секунд.
			{{/if}}
	{{/if}}